body {
	background: #ffffff;
	height: 100%;
	margin: 5px;
	padding: 5px;
	width: 95%;
}
.container {
	margin: 0 auto;
	padding: 10px;
	width: 1000px;
}
h1 {
	text-align: center;
}
h2 {
	text-decoration: solid underline;
}
nav {

}
nav ul {
	background-color: #888888;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav li {
	border-bottom: none;
	display: inline-block;
	font-size: 1.4em;
	height: 35px;
	line-height: 35px;
	margin-right: -4px;
	width: 120px;
}
nav a {
	color: #ffffff;
	display: block;
	text-decoration: none;
}
.schema {
	padding: 0 20px;
}
p {
	padding: 0 20px;
 }

/* diagram image box */

.diagram {
	width: 360px;
	height: 226px;
	margin: 10px;
}
